<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row d-flex justify-content-center align-items-center" *ngIf="isChanged">
    <div class="col-5 pt-3 m-2 bg-primary text-center">
      <h1>{{ theWord }}</h1>
      <button class="btn btn-danger" (click)="changetheword()">Change the text</button>
    </div>
  </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

</body>
</html>
